* {
	box-sizing: border-box;
}
  
html, body{
	height: 100%;
	margin: 0; padding: 0; border: none;
	background: hsl(0, 46%, 78%);
	background-size: 100%;
}

.top {
	height: 100%;
}
  
.parent {
	height: 95%;
}

div.parent > div {
	display: inline-block;
}
.tools {
	height: 100%;
	width: 15%;
	min-width: 150px;
	background-color: inherit;
}

.space {
	background: inherit;
	width: 2%;
	height: 100%;
}

.canvas, canvas {
	height: 100%;
	width: 1000px;
	min-width: 1000px;
	max-width: 1000px;
	background-color: white;
}

button {
	border: none;
	font-size: 2.2rem;
	background-color: inherit;
	border-radius: 10px;
	color: hsl(0, 0%, 25%);
}

#default-btn {
	background-color: hsl(0, 46%, 73%);
	color: rgb(0, 0, 0);
}

.slidecontainer {
	width: 100%;
}
  
.slider {
	-webkit-appearance: none;
	width: 110%;
	height: 10px;
	background: #d3d3d3;
	outline: none;
	opacity: 1;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

#color-picker {
	height: 30px;
	width: 110%;
	border: none;
	padding: 0px;
}

a {
	border: none;
	font-size: 2.2rem;
	background-color: inherit;
	border-radius: 10px;
	color: hsl(0, 0%, 25%);
}

button:focus {
	outline: 0;
}

a {
	display: none;
}